<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .active {
            color: red;
        }
    </style>
</head>

<body>
    <div id="app">
        <input type="text" v-model='msg' @keyup='filter()'>
        <button @click="add()">add</button>

        <ul>
            <li v-for='(obj,index) in showList' style="list-style: none" :class='{active:obj.isA}' @click="change(obj)">
                {{obj.val}}
                <button @click="del(index)">del</button>

            </li>

        </ul>

    </div>
    <script src="vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                list: [
                    {
                        val: 'aaa',
                        isA: true
                    },
                    {
                        val: 'bbb',
                        isA: false
                    }
                ],
                showList: [
                    {
                        val: 'aaa',
                        isA: true
                    },
                    {
                        val: 'bbb',
                        isA: false
                    }
                ],
                msg: '',
                isA: false
            },
            methods: {
                add() {
                    // console.log(this);//指向vue
                    this.list.push({ val: this.msg, isA: false });//数组中放的对象
                    this.msg = '';
                    this.showList = [...this.list];
                },
                del(idx) {
                    this.list.splice(idx, 1);//从哪里开始删除，删除几个，添加。。。//this是vm
                    this.showList = [...this.list];
                },
                change(obj) {
                    obj.isA = !obj.isA;
                },
                filter() {
                    //过滤list数组中val 中包含this.msg的
                    var arr = this.list.filter((obj, index)=>{
                        // console.log(this);//如果为function指向windows,改成箭头函数之后，this指向父元素指向，即vue
                        // console.log(obj.val,this.msg);                     //，msg是vue中的，this必须指向vue才行,不然undefined
                        return obj.val.includes(this.msg);
                    })
                    console.log(this);
                    this.showList=[...arr];
                }
            }

        })





    </script>
</body>

</html>