<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <input type="text" v-model='msg'>
        <input type="radio" v-model='sex' value="boy">男
        <input type="radio" v-model='sex' value="girl">女

        <!-- <input type="radio" name='sex' value="girl">女
        <input type="radio" name='sex' value="boy">男 -->
        <br>
        <input type="checkbox" v-model='hobby' value="badmintain">羽毛球
        <input type="checkbox" v-model='hobby' value='pingpong'>乒乓球
        <input type="checkbox" v-model='hobby' value="basketball">篮球
        
    </div>


    <script src="vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                msg: 'please input: ',
                sex: 'girl',
                hobby: []
            }
        })



    </script>
</body>

</html>